dill
-e git+https://github.com/wojcech/agilentpyvisa.git@554b129db52e972cb53db51212eee223627abef3#egg=agilentpyvisa
alembic==0.8.7
dataset==0.6.4
Mako==1.0.4
MarkupSafe==0.23
normality==0.2.4
numpy==1.11.1
pandas==0.18.1
python-dateutil==2.5.3
python-editor==1.0.1
pytz==2016.6.1
PyVISA==1.8
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.0.15
